<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jnhouse.app.dao.AnswerDao">
<select id="selectAnswer" resultType="com.jnhouse.app.bean.Answer_header">
	select 
		id	        id,
		template_id templateid,
		check_date  checkdate,
		store_id    storeid, 
		store_around storearound,
		start_time starttime,
		end_time endtime,
		broker_num brokernum,
		customer_num customernum,
		docking_man dockingman,
		recording recording,
		is_delete isdelete,
		updated_time updatedtime,
		created_time createdtime
	from fke_sup_answer_header
</select>

</mapper>