<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jnhouse.app.dao.SupAnswerLineDao">
  <resultMap id="BaseResultMap" type="com.jnhouse.app.bean.SupAnswerLine">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="header_id" jdbcType="INTEGER" property="header_id" />
    <result column="problem_id" jdbcType="INTEGER" property="problem_id" />
    <result column="answer_num" jdbcType="INTEGER" property="answer_num" />
    <result column="answer" jdbcType="VARCHAR" property="answer" />
    <result column="photo" jdbcType="VARCHAR" property="photo" />
    <result column="score" jdbcType="REAL" property="score" />
    <result column="is_delete" jdbcType="INTEGER" property="is_delete" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updated_time" />
    <result column="created_time" jdbcType="TIMESTAMP" property="created_time" />
  </resultMap>
  <sql id="Base_Column_List">
    id, header_id, problem_id, answer_num, answer,score, is_delete, updated_time, 
    created_time
  </sql>
  <select id="getById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fke_sup_answer_line
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="findAllLineId" parameterType="com.jnhouse.app.bean.SupAnswerLine" resultMap="BaseResultMap">
  		select id,problem_id from fke_sup_answer_line where header_id = #{header_id,jdbcType=INTEGER} AND is_delete=#{is_delete} order by created_time desc 
  </select>
  
  <!-- APP 接口 -->
  <select id="findSupAnswerLineId" parameterType="java.lang.Integer" resultMap='BaseResultMap'>
  	select id from fke_sup_answer_line where header_id=#{header_id,jdbcType=INTEGER}
  </select>
  
   <select id="findByHeaderId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  			
  		select header_id from fke_sup_answer_line where id = #{id,jdbcType=INTEGER} and is_delete=1 GROUP BY header_id
  
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from fke_sup_answer_line
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="save"  useGeneratedKeys="true" keyProperty="id" parameterType="com.jnhouse.app.bean.SupAnswerLine" >
    insert into fke_sup_answer_line (header_id, problem_id, answer_num, 
      answer, score, 
      is_delete, updated_time, created_time
      )
    values (#{header_id,jdbcType=INTEGER}, #{problem_id,jdbcType=INTEGER}, #{answer_num,jdbcType=INTEGER}, 
      #{answer,jdbcType=VARCHAR}, #{score,jdbcType=REAL}, 
      #{is_delete,jdbcType=INTEGER}, #{updated_time,jdbcType=TIMESTAMP}, #{created_time,jdbcType=TIMESTAMP}
      )
  </insert>
  

  <insert id="insertSelective" parameterType="com.jnhouse.app.bean.SupAnswerLine">
    insert into fke_sup_answer_line
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="header_id != null">
        header_id,
      </if>
      <if test="problem_id != null">
        problem_id,
      </if>
      <if test="answer_num != null">
        answer_num,
      </if>
      <if test="answer != null">
        answer,
      </if>
      <if test="photo != null">
        photo,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="is_delete != null">
        is_delete,
      </if>
      <if test="updated_time != null">
        updated_time,
      </if>
      <if test="created_time != null">
        created_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="header_id != null">
        #{header_id,jdbcType=INTEGER},
      </if>
      <if test="problem_id != null">
        #{problem_id,jdbcType=INTEGER},
      </if>
      <if test="answer_num != null">
        #{answer_num,jdbcType=INTEGER},
      </if>
      <if test="answer != null">
        #{answer,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        #{photo,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=REAL},
      </if>
      <if test="is_delete != null">
        #{is_delete,jdbcType=INTEGER},
      </if>
      <if test="updated_time != null">
        #{updated_time,jdbcType=TIMESTAMP},
      </if>
      <if test="created_time != null">
        #{created_time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  
  <insert id="insertBatchSupAnswerLine">
	insert into fke_sup_answer_line (header_id, problem_id,
	answer_num,answer,
	score, is_delete, updated_time,
	created_time)
	values

    <foreach collection="supAnsLineList" item="item" index="index" separator=",">  
       (#{header_id,jdbcType=INTEGER}, #{item.problem_id,jdbcType=INTEGER}, 0,#{item.answer,jdbcType=VARCHAR},#{item.score},1,
        NOW(),  NOW())
    </foreach> 
  </insert>
	
	<!-- App 批量更新订单明细 -->
	<update id="updateBatch" parameterType="java.util.List">
	update fke_sup_answer_line
	<trim prefix="set" suffixOverrides=",">
		<trim prefix="answer_num =case" suffix="end,">
			<foreach collection="supAnswerLineList" item="i" index="index">
				when id=#{i.id} then #{i.answer_num}
			</foreach>
		</trim>
		<trim prefix=" answer =case" suffix="end,">
			<foreach collection="supAnswerLineList" item="i" index="index">
				when id=#{i.id} then #{i.answer}
			</foreach>
		</trim>
		
		<trim prefix=" score =case" suffix="end,">
			<foreach collection="supAnswerLineList" item="i" index="index">
				when id=#{i.id} then #{i.score}
			</foreach>
		</trim>
		
		<trim prefix=" updated_time =case" suffix="end,">
			<foreach collection="supAnswerLineList" item="i" index="index">
				when id=#{i.id} then #{i.updated_time}
			</foreach>
		</trim>
		
		
		<trim prefix=" created_time =case" suffix="end,">
			<foreach collection="supAnswerLineList" item="i" index="index">
				when id=#{i.id} then #{i.created_time}
			</foreach>
		</trim>
		
		

	</trim>
	where
	<foreach collection="supAnswerLineList" separator="or" item="i" index="index">
		id=#{i.id}
	</foreach>
</update>

  <update id="updateByPrimaryKeySelective" parameterType="com.jnhouse.app.bean.SupAnswerLine">
    update fke_sup_answer_line
    <set>
      <if test="header_id != null">
        header_id = #{header_id,jdbcType=INTEGER},
      </if>
      <if test="problem_id != null">
        problem_id = #{problem_id,jdbcType=INTEGER},
      </if>
      <if test="answer_num != null">
        answer_num = #{answer_num,jdbcType=INTEGER},
      </if>
      <if test="answer != null">
        answer = #{answer,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=REAL},
      </if>
      <if test="is_delete != null">
        is_delete = #{is_delete,jdbcType=INTEGER},
      </if>
      <if test="updated_time != null">
        updated_time = #{updated_time,jdbcType=TIMESTAMP},
      </if>
      <if test="created_time != null">
        created_time = #{created_time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="update" parameterType="com.jnhouse.app.bean.SupAnswerLine">
    update fke_sup_answer_line
    set header_id = #{header_id,jdbcType=INTEGER},
      problem_id = #{problem_id,jdbcType=INTEGER},
      answer_num = #{answer_num,jdbcType=INTEGER},
      answer = #{answer,jdbcType=VARCHAR},
      score = #{score,jdbcType=REAL},
      is_delete = #{is_delete,jdbcType=INTEGER},
      updated_time = #{updated_time,jdbcType=TIMESTAMP},
      created_time = #{created_time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>