<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jnhouse.app.dao.SupAnswerLineDao">
  <resultMap id="BaseResultMap" type="com.jnhouse.app.bean.SupAnswerLine">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="header_id" jdbcType="INTEGER" property="header_id" />
    <result column="problem_id" jdbcType="INTEGER" property="problem_id" />
    <result column="answer_num" jdbcType="INTEGER" property="answer_num" />
    <result column="answer" jdbcType="VARCHAR" property="answer" />
    <result column="photo" jdbcType="VARCHAR" property="photo" />
    <result column="score" jdbcType="REAL" property="score" />
    <result column="is_delete" jdbcType="INTEGER" property="is_delete" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updated_time" />
    <result column="created_time" jdbcType="TIMESTAMP" property="created_time" />
  </resultMap>
  <sql id="Base_Column_List">
    id, header_id, problem_id, answer_num, answer, photo, score, is_delete, updated_time, 
    created_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fke_sup_answer_line
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from fke_sup_answer_line
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jnhouse.app.bean.SupAnswerLine">
    insert into fke_sup_answer_line (header_id, problem_id, answer_num, 
      answer, photo, score, 
      is_delete, updated_time, created_time
      )
    values (#{header_id,jdbcType=INTEGER}, #{problem_id,jdbcType=INTEGER}, #{answer_num,jdbcType=INTEGER}, 
      #{answer,jdbcType=VARCHAR}, #{photo,jdbcType=VARCHAR}, #{score,jdbcType=REAL}, 
      #{is_delete,jdbcType=INTEGER}, #{updated_time,jdbcType=TIMESTAMP}, #{created_time,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jnhouse.app.bean.SupAnswerLine">
    insert into fke_sup_answer_line
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="header_id != null">
        header_id,
      </if>
      <if test="problem_id != null">
        problem_id,
      </if>
      <if test="answer_num != null">
        answer_num,
      </if>
      <if test="answer != null">
        answer,
      </if>
      <if test="photo != null">
        photo,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="is_delete != null">
        is_delete,
      </if>
      <if test="updated_time != null">
        updated_time,
      </if>
      <if test="created_time != null">
        created_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="header_id != null">
        #{header_id,jdbcType=INTEGER},
      </if>
      <if test="problem_id != null">
        #{problem_id,jdbcType=INTEGER},
      </if>
      <if test="answer_num != null">
        #{answer_num,jdbcType=INTEGER},
      </if>
      <if test="answer != null">
        #{answer,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        #{photo,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=REAL},
      </if>
      <if test="is_delete != null">
        #{is_delete,jdbcType=INTEGER},
      </if>
      <if test="updated_time != null">
        #{updated_time,jdbcType=TIMESTAMP},
      </if>
      <if test="created_time != null">
        #{created_time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map">
    update fke_sup_answer_line
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.header_id != null">
        header_id = #{record.header_id,jdbcType=INTEGER},
      </if>
      <if test="record.problem_id != null">
        problem_id = #{record.problem_id,jdbcType=INTEGER},
      </if>
      <if test="record.answer_num != null">
        answer_num = #{record.answer_num,jdbcType=INTEGER},
      </if>
      <if test="record.answer != null">
        answer = #{record.answer,jdbcType=VARCHAR},
      </if>
      <if test="record.photo != null">
        photo = #{record.photo,jdbcType=VARCHAR},
      </if>
      <if test="record.score != null">
        score = #{record.score,jdbcType=REAL},
      </if>
      <if test="record.is_delete != null">
        is_delete = #{record.is_delete,jdbcType=INTEGER},
      </if>
      <if test="record.updated_time != null">
        updated_time = #{record.updated_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.created_time != null">
        created_time = #{record.created_time,jdbcType=TIMESTAMP},
      </if>
    </set>
  </update>
  <update id="updateByExample" parameterType="map">
    update fke_sup_answer_line
    set id = #{record.id,jdbcType=INTEGER},
      header_id = #{record.header_id,jdbcType=INTEGER},
      problem_id = #{record.problem_id,jdbcType=INTEGER},
      answer_num = #{record.answer_num,jdbcType=INTEGER},
      answer = #{record.answer,jdbcType=VARCHAR},
      photo = #{record.photo,jdbcType=VARCHAR},
      score = #{record.score,jdbcType=REAL},
      is_delete = #{record.is_delete,jdbcType=INTEGER},
      updated_time = #{record.updated_time,jdbcType=TIMESTAMP},
      created_time = #{record.created_time,jdbcType=TIMESTAMP}
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jnhouse.app.bean.SupAnswerLine">
    update fke_sup_answer_line
    <set>
      <if test="header_id != null">
        header_id = #{header_id,jdbcType=INTEGER},
      </if>
      <if test="problem_id != null">
        problem_id = #{problem_id,jdbcType=INTEGER},
      </if>
      <if test="answer_num != null">
        answer_num = #{answer_num,jdbcType=INTEGER},
      </if>
      <if test="answer != null">
        answer = #{answer,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        photo = #{photo,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=REAL},
      </if>
      <if test="is_delete != null">
        is_delete = #{is_delete,jdbcType=INTEGER},
      </if>
      <if test="updated_time != null">
        updated_time = #{updated_time,jdbcType=TIMESTAMP},
      </if>
      <if test="created_time != null">
        created_time = #{created_time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jnhouse.app.bean.SupAnswerLine">
    update fke_sup_answer_line
    set header_id = #{header_id,jdbcType=INTEGER},
      problem_id = #{problem_id,jdbcType=INTEGER},
      answer_num = #{answer_num,jdbcType=INTEGER},
      answer = #{answer,jdbcType=VARCHAR},
      photo = #{photo,jdbcType=VARCHAR},
      score = #{score,jdbcType=REAL},
      is_delete = #{is_delete,jdbcType=INTEGER},
      updated_time = #{updated_time,jdbcType=TIMESTAMP},
      created_time = #{created_time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>