<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jnhouse.app.dao.SupTemplateDao">
  <resultMap id="BaseResultMap" type="com.jnhouse.app.bean.SupTemplate">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="menu_title" jdbcType="VARCHAR" property="menu_title" />
    <result column="menu_level" jdbcType="INTEGER" property="menu_level" />
    <result column="is_delete" jdbcType="INTEGER" property="is_delete" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updated_time" />
    <result column="created_time" jdbcType="TIMESTAMP" property="created_time" />
    <result column="score" jdbcType="VARCHAR" property="score" />
    <result column="parent_id" jdbcType="INTEGER" property="parent_id" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
  </resultMap>
  <sql id="Base_Column_List">
    id, menu_title, menu_level, is_delete, updated_time, created_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fke_supervision_template
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from fke_supervision_template
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jnhouse.app.bean.SupTemplate">
    insert into fke_supervision_template (menu_title, menu_level, is_delete, 
      updated_time, created_time)
    values (#{menu_title,jdbcType=VARCHAR}, #{menu_level,jdbcType=INTEGER}, #{is_delete,jdbcType=INTEGER}, 
      #{updated_time,jdbcType=TIMESTAMP}, #{created_time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jnhouse.app.bean.SupTemplate">
    insert into fke_supervision_template
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="menu_title != null">
        menu_title,
      </if>
      <if test="menu_level != null">
        menu_level,
      </if>
      <if test="is_delete != null">
        is_delete,
      </if>
      <if test="updated_time != null">
        updated_time,
      </if>
      <if test="created_time != null">
        created_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="menu_title != null">
        #{menu_title,jdbcType=VARCHAR},
      </if>
      <if test="menu_level != null">
        #{menu_level,jdbcType=INTEGER},
      </if>
      <if test="is_delete != null">
        #{is_delete,jdbcType=INTEGER},
      </if>
      <if test="updated_time != null">
        #{updated_time,jdbcType=TIMESTAMP},
      </if>
      <if test="created_time != null">
        #{created_time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map">
    update fke_supervision_template
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.menu_title != null">
        menu_title = #{record.menu_title,jdbcType=VARCHAR},
      </if>
      <if test="record.menu_level != null">
        menu_level = #{record.menu_level,jdbcType=INTEGER},
      </if>
      <if test="record.is_delete != null">
        is_delete = #{record.is_delete,jdbcType=INTEGER},
      </if>
      <if test="record.updated_time != null">
        updated_time = #{record.updated_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.created_time != null">
        created_time = #{record.created_time,jdbcType=TIMESTAMP},
      </if>
    </set>
  </update>
  <update id="updateByExample" parameterType="map">
    update fke_supervision_template
    set id = #{record.id,jdbcType=INTEGER},
      menu_title = #{record.menu_title,jdbcType=VARCHAR},
      menu_level = #{record.menu_level,jdbcType=INTEGER},
      is_delete = #{record.is_delete,jdbcType=INTEGER},
      updated_time = #{record.updated_time,jdbcType=TIMESTAMP},
      created_time = #{record.created_time,jdbcType=TIMESTAMP}
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jnhouse.app.bean.SupTemplate">
    update fke_supervision_template
    <set>
      <if test="menu_title != null">
        menu_title = #{menu_title,jdbcType=VARCHAR},
      </if>
      <if test="menu_level != null">
        menu_level = #{menu_level,jdbcType=INTEGER},
      </if>
      <if test="is_delete != null">
        is_delete = #{is_delete,jdbcType=INTEGER},
      </if>
      <if test="updated_time != null">
        updated_time = #{updated_time,jdbcType=TIMESTAMP},
      </if>
      <if test="created_time != null">
        created_time = #{created_time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jnhouse.app.bean.SupTemplate">
    update fke_supervision_template
    set menu_title = #{menu_title,jdbcType=VARCHAR},
      menu_level = #{menu_level,jdbcType=INTEGER},
      is_delete = #{is_delete,jdbcType=INTEGER},
      updated_time = #{updated_time,jdbcType=TIMESTAMP},
      created_time = #{created_time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="fke_template" resultMap="BaseResultMap" parameterType="Map">
  	 select 
  	 	id id,
  	 	parent_id parent_id,
  	 	menu_title menu_title,
  	 	menu_level menu_level,
  	 	sort sort,
  	 	score score,
  	 	is_delete is_delete,
  	 	updated_time updated_time,
  	 	created_time created_time
  	  from fke_supervision_template where 1 = 1
  	  <if test="id != null and ''!=id">
  	  	and id=#{id}
  	  </if>
  	  <if test="parent_id != null and ''!= parent_id">
  	  	and parent_id=#{parent_id}
  	  </if>
  </select> 
  <update id="updateTemplate" parameterType="Map">
		update fke_supervision_template set
		<trim suffixOverrides=",">
			<if test="menu_level!=null">menu_level=#{menu_level},</if>
			<if test="menu_title!=null">menu_title=#{menu_title},</if>
			<if test="score!=null">score=#{score},</if>			
		</trim>
		<where>id=#{id}</where>
  </update>
  
  <insert id="insertNexteTemplate" parameterType="Map">  	
		insert into
			fke_supervision_template(parent_id,menu_title,menu_level,sort,score,is_delete,updated_time,created_time)
		 values
			(#{parent_id}, #{menu_title},#{menu_level}, 0, #{score}, 1,#{updated_time},#{created_time})	
  </insert>
  <delete id="delete_template" parameterType="int">
  	delete from fke_supervision_template where id = #{id} or parent_id=#{id}
  </delete>
  <select id="isHaveLevelCount" parameterType="String" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from fke_supervision_template where parent_id=#{param}
  </select>
</mapper>