<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jnhouse.app.dao.UserDao">
  <resultMap id="BaseResultMap" type="com.jnhouse.app.bean.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="passwd" jdbcType="VARCHAR" property="passwd" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="is_delete" jdbcType="INTEGER" property="is_delete" />
    <result column="is_effect" jdbcType="INTEGER" property="is_effect" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="user_type" jdbcType="TINYINT" property="user_type" />
    <result column="qq_openid" jdbcType="VARCHAR" property="qq_openid" />
    <result column="sina_openid" jdbcType="VARCHAR" property="sina_openid" />
    <result column="logins" jdbcType="INTEGER" property="logins" />
    <result column="scores" jdbcType="INTEGER" property="scores" />
    <result column="sell_num" jdbcType="INTEGER" property="sell_num" />
    <result column="rent_num" jdbcType="INTEGER" property="rent_num" />
    <result column="last_login" jdbcType="INTEGER" property="last_login" />
    <result column="active_str" jdbcType="VARCHAR" property="active_str" />
    <result column="active_rate" jdbcType="INTEGER" property="active_rate" />
    <result column="active_total" jdbcType="INTEGER" property="active_total" />
    <result column="order_weight" jdbcType="REAL" property="order_weight" />
    <result column="top_day" jdbcType="TINYINT" property="top_day" />
    <result column="add_time" jdbcType="INTEGER" property="add_time" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="is_index" jdbcType="TINYINT" property="is_index" />
    <result column="money" jdbcType="VARCHAR" property="money" />
    <result column="addsale" jdbcType="INTEGER" property="addsale" />
    <result column="addrent" jdbcType="INTEGER" property="addrent" />
    <result column="vip" jdbcType="TINYINT" property="vip" />
    <result column="vexation" jdbcType="INTEGER" property="vexation" />
    <result column="company_id" jdbcType="INTEGER" property="company_id" />
    <result column="area_id" jdbcType="INTEGER" property="area_id" />
    <result column="store_id" jdbcType="INTEGER" property="store_id" />
    <result column="e_accurate" jdbcType="INTEGER" property="e_accurate" />
    <result column="e_satisfaction" jdbcType="INTEGER" property="e_satisfaction" />
    <result column="e_specialty" jdbcType="INTEGER" property="e_specialty" />
    <result column="integrate_id" jdbcType="INTEGER" property="integrate_id" />
    <result column="recommend_num" jdbcType="INTEGER" property="recommend_num" />
    <result column="publish_sum" jdbcType="INTEGER" property="publish_sum" />
    <result column="refresh_num" jdbcType="INTEGER" property="refresh_num" />
    <result column="is_broker" jdbcType="BIT" property="is_broker" />
    <result column="user_status" jdbcType="BIT" property="user_status" />
    <result column="is_dz" jdbcType="INTEGER" property="is_dz" />
    <result column="broker_info" jdbcType="VARCHAR" property="broker_info" />
    <result column="usernamebak" jdbcType="VARCHAR" property="usernamebak" />
    <result column="is_photoer" jdbcType="INTEGER" property="is_photoer" />
    <result column="regular" jdbcType="BIT" property="regular" />
    <result column="regular_time" jdbcType="DATE" property="regular_time" />
    <result column="open_time" jdbcType="INTEGER" property="open_time" />
    <result column="open_time_now" jdbcType="INTEGER" property="open_time_now" />
    <result column="is_newhouse" jdbcType="INTEGER" property="is_newhouse" />
    <result column="newhouse_manager" jdbcType="INTEGER" property="newhouse_manager" />
  </resultMap>
  <sql id="Base_Column_List">
    id, username, passwd, email, mobile, is_delete, is_effect, code, user_type, qq_openid, 
    sina_openid, logins, scores, sell_num, rent_num, last_login, active_str, active_rate, 
    active_total, order_weight, top_day, add_time, status, is_index, money, addsale, 
    addrent, vip, vexation, company_id, area_id, store_id, e_accurate, e_satisfaction, 
    e_specialty, integrate_id, recommend_num, publish_sum, refresh_num, is_broker, user_status, 
    is_dz, broker_info, usernamebak, is_photoer, regular, regular_time, open_time, open_time_now, 
    is_newhouse, newhouse_manager
  </sql>
  <sql id="Base_Column_List_1">
    id, username, passwd
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from fke_member
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <select id="findUser" parameterType="com.jnhouse.app.bean.User" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List_1" />
  	from 2015_09_fangchanjn.fke_member
  	where username = #{username,jdbcType=VARCHAR} and passwd = #{passwd,jdbcType=VARCHAR}
  	and is_broker = '1' and status = '1'
  </select>
    <select id="getById" parameterType="java.lang.Integer" resultType="com.jnhouse.app.bean.User">
  	select 
  	<include refid="Base_Column_List_1" />
  	from 2015_09_fangchanjn.fke_member
  	where id = #{id,jdbcType=INTEGER} 
  	and is_broker = '1' and status = '1'
  </select>
  <update id="updateByPrimaryKey" parameterType="com.jnhouse.app.bean.User">
    update fke_member
    set username = #{username,jdbcType=VARCHAR},
      passwd = #{passwd,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      is_delete = #{is_delete,jdbcType=INTEGER},
      is_effect = #{is_effect,jdbcType=INTEGER},
      code = #{code,jdbcType=VARCHAR},
      user_type = #{user_type,jdbcType=TINYINT},
      qq_openid = #{qq_openid,jdbcType=VARCHAR},
      sina_openid = #{sina_openid,jdbcType=VARCHAR},
      logins = #{logins,jdbcType=INTEGER},
      scores = #{scores,jdbcType=INTEGER},
      sell_num = #{sell_num,jdbcType=INTEGER},
      rent_num = #{rent_num,jdbcType=INTEGER},
      last_login = #{last_login,jdbcType=INTEGER},
      active_str = #{active_str,jdbcType=VARCHAR},
      active_rate = #{active_rate,jdbcType=INTEGER},
      active_total = #{active_total,jdbcType=INTEGER},
      order_weight = #{order_weight,jdbcType=REAL},
      top_day = #{top_day,jdbcType=TINYINT},
      add_time = #{add_time,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      is_index = #{is_index,jdbcType=TINYINT},
      money = #{money,jdbcType=VARCHAR},
      addsale = #{addsale,jdbcType=INTEGER},
      addrent = #{addrent,jdbcType=INTEGER},
      vip = #{vip,jdbcType=TINYINT},
      vexation = #{vexation,jdbcType=INTEGER},
      company_id = #{company_id,jdbcType=INTEGER},
      area_id = #{area_id,jdbcType=INTEGER},
      store_id = #{store_id,jdbcType=INTEGER},
      e_accurate = #{e_accurate,jdbcType=INTEGER},
      e_satisfaction = #{e_satisfaction,jdbcType=INTEGER},
      e_specialty = #{e_specialty,jdbcType=INTEGER},
      integrate_id = #{integrate_id,jdbcType=INTEGER},
      recommend_num = #{recommend_num,jdbcType=INTEGER},
      publish_sum = #{publish_sum,jdbcType=INTEGER},
      refresh_num = #{refresh_num,jdbcType=INTEGER},
      is_broker = #{is_broker,jdbcType=BIT},
      user_status = #{user_status,jdbcType=BIT},
      is_dz = #{is_dz,jdbcType=INTEGER},
      broker_info = #{broker_info,jdbcType=VARCHAR},
      usernamebak = #{usernamebak,jdbcType=VARCHAR},
      is_photoer = #{is_photoer,jdbcType=INTEGER},
      regular = #{regular,jdbcType=BIT},
      regular_time = #{regular_time,jdbcType=DATE},
      open_time = #{open_time,jdbcType=INTEGER},
      open_time_now = #{open_time_now,jdbcType=INTEGER},
      is_newhouse = #{is_newhouse,jdbcType=INTEGER},
      newhouse_manager = #{newhouse_manager,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>